<div class="inputs-container">
  <div class="input-div">
    <label for="firstName">სახელი:</label>
    <input placeholder="სახელი..." type="text" id="firstName" #firstName />
  </div>
  <div class="input-div">
    <label for="lastName">გვარი:</label>
    <input placeholder="გვარი..." type="text" id="lastName" #lastName />
  </div>
  <div class="input-div">
    <label for="personalNumber">პირადი ნომერი:</label>
    <input
      placeholder="პირადი ნომერი..."
      type="text"
      id="personalNumber"
      #personalNumber
    />
  </div>

  <button
    (click)="onClick(firstName.value, lastName.value, personalNumber.value)"
  >
    შენახვა
  </button>
</div>

<div class="tbl-header">
  <table cellpadding="0" cellspacing="0" border="0">
    <thead>
      <tr>
        <th>სახელი</th>
        <th>გვარი</th>
        <th>პირადი ნომერი</th>
      </tr>
    </thead>
  </table>
</div>
<div class="tbl-content">
  <table cellpadding="0" cellspacing="0" border="0">
    <tbody *ngFor="let student of studentsArr">
      <app-student-item [student]="student"> </app-student-item>
    </tbody>
  </table>
</div>
